.header {
  min-height: 71px;
  background: #fff;
  color: #04AA6D;
  border-bottom: 1px solid #ccc;
}

.header .logo {
  float: left;
  font-weight: bold;
  color: #fff;
  height: 69px;
}

.header .logo img {
  height: 69px;
} 

.header .app-name {
  color: #04AA6D;
  display: inline-block;
  margin-top: 15px;
}

.header .app-name span {
  font-size: 14px;
}

.header .user {
  float: right;
  padding: 25px 10px;
}

.header .user .profile-img {
  margin-top: 2px;
  float: left;
  margin-right: 6px;
  height: 20px;
}

.header .user a.user-name {
  text-decoration: none;
}

.header .user a.user-name:hover {
  text-decoration: underline;
}

.header .user span {
  margin-right: 10px;
  color: #04AA6D;
}

.header a {
  color: #04AA6D;
}
