.App {
  text-align: center;
}

a {
  cursor: pointer;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  margin: 10px 0;
  width: 100%;
}

.input:focus-visible {
  border: 1px solid #bbb;
  box-shadow: none;
}

button {
  background: #04AA6D;
  border: 1px solid #04AA6D;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  width: 200px;
  cursor: pointer;
}

.container {
  margin-top: 50px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./images/carpool-bg.jpg') no-repeat;
  background-size: cover;
  padding: 2%;
  min-height: 90vh;
}

.main-content {
  width: 800px;
  margin: 0 auto;
  background: #fff;
  padding: 10px;
  height: 100%;
  border-radius: 5px;
}

.box {
  width: 250px;
  margin-bottom: 2px;
}

select {
  padding: 10px;
  font-size: 16px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin: 10px 0;
}

select option {
  padding: 10px;
}

.Toastify__toast-body {
  font-size: 14px;
}

.Toastify__close-button {
  flex: 0.3;
}

.action button {
  margin-right: 10px;
}

.no-mgb {
  margin-bottom: 0 !important;
}

.back-btn-section {
  text-align: right;
}

.back-btn-section button {
  width: auto;
  font-size: 14px;
}